# virtual enviroment
python3 -m venv MYSTORE_ENV

#Django - Django-1.11.3
pip install Django

#start the project
django-admin.py startproject mystore

#start an app
python manage.py startapp shop

#pillow - pillow-4.2.0
pip install pillow

#create super user
python manage.py createsuperuser

#Install Celery -- celery-4.0.2
pip install celery

#rabbitmq --rabbitmq 3.6.9_1
brew install rabbitmq

#install paypal django-paypal-0.3.6
pip install django-paypal
